

::selection {
    background: black;
}

::-moz-selection {
    background: black;
}

html,
body,
.container {
    overflow: hidden;
    background-color: black;
    height: 100%;
    width: 100%;
}

.container {
    color: white;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}